---
import SpeakersList from "./SpeakersList.astro";
import SponsorsList from "./SponsorsList.astro";
const { event } = Astro.props;
---

<div class="terminal-block">
  <p>
    <span class="command" data-i18n-key="schedule.label">&gt; schedule:</span>
    <span class="value">[</span>
  </p>
  {
    event.schedule.map((item: any, idx: number) => (
      <>
        <p class="pl-4">
          <span class="value">{`{`}</span>
        </p>
        <p class="pl-8">
          <>
            <span class="key">"day"</span>
            <span class="value">: </span>
            <span class="string">"{item.date}"</span>
            <span class="value">,</span>
          </>
        </p>
        <p class="pl-8">
          <>
            <span class="key">"event"</span>
            <span class="value">: </span>
            <span class="string">"{item.description}"</span>
          </>
        </p>
        <p class="pl-4">
          <span class="value">
            {idx < event.schedule.length - 1 ? "}," : "}"}
          </span>
        </p>
      </>
    ))
  }
  <p><span class="value">],</span></p>

  <p>
    <span class="command" data-i18n-key="speakers.label">&gt; speakers:</span>
  </p>
  <div class="pl-4">
    <SpeakersList speakers={event.speakers} />
  </div>

  <p class="mt-3">
    <span class="command" data-i18n-key="sponsors.label">&gt; sponsors:</span>
  </p>
  <div class="pl-4">
    <SponsorsList sponsors={event.sponsors} />
  </div>
  <p>
    <span class="command" data-i18n-key="location.label">&gt; location:</span>
    <span class="value">{event.meta.location}</span>
  </p>
  <p>
    <span class="command" data-i18n-key="city.label">&gt; city:</span>
    <span class="value">{event.meta.city}</span>
  </p>
</div>
